<% if (tag.name == page.tag) { %>
    <a href="<%- url_for(tag.path) %>" class="btn btn-primary m-2">
        <%- tag.name || "Untitled" %>
        <span class="badge badge-light"><%- tag.length || 0 %></span>
    </a>
<% } else { %>
    <a href="<%- url_for(tag.path) %>" class="btn btn-primary m-2">
        <%- tag.name || "Untitled" %>
    </a>
<% } %>
